
.regiterForm{
  
    background-color: #B88E2F59;
    margin: 30px;
    padding: 70px;
    width: 80%;
    border-radius: 10px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
     color: #FFFFFF;
    
    z-index: 55;
    height: fit-content;

    

}

.regiterForm h3{
    color: aliceblue;
    font-weight: 400;
}
.regiterForm p {
    color: #9F9F9F;
    font-size: 20px;

}
.regiterForm form{
    width: 600px;
}
form .inps{

    padding: 10px 15px;
    outline: none !important;
    border: none;
    background: #9F9F9F26;
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    

}
.form-control:focus {
    border:none;
    outline: 0;
    box-shadow:none;
}
.formValied{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formValied .check{
    display: flex;
    align-items: center;
    color: #9F9F9F;
    gap: 7px;

}
.formValied .check .checkbox{
    width: 15px;
    height: 15px;
}
.formValied  a{
    color: #B88E2F;
}
form .btns{
    width: 100%;
    margin: 15px 0 ;
    padding: 15px ;
    border: 1px gray solid;
    outline: none;
    border-radius: 10px;
    background: #B88E2F;
    font-weight: 600;
    color: #fff;
}
form .btnSign{
    background-color: transparent;
    border: 2px solid #B88E2F;

    transition: 2s ease-in-out background-color;
}
form .btnSign:hover{
    background-color: #B88E2F;
    color: #fff;

}
form .btns:disabled {
    background-color: #B88E2F;
    cursor: not-allowed;
    opacity: 0.7;
  }

  .passicon{
    padding: 10px;
    font-size: 18px;
    position: absolute;
    top:0px !important;
    left: 15px  !important;
  }

  
@media screen and (max-width: 900px) {
    .Regiter{
        height: 100vh;
    }
    .regiterForm{
        width: 100%;
        padding: 25px;
    }
    .regiterForm form{
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .Regiter{
        height: 100vh;
    }
    .Regiter{

        background-position: center;
        padding: 20px;
    }
    
    .regiterForm{
        width: 100%;
        padding: 15px;
    }
    .formValied{
    
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}