/* You can add global styles to this file, and also import other style files */
.all{
    background-image: url('../src/assets/imges/banner.jpeg');
    font-family: "Tajawal", system-ui;
    height: 100%; 
    background-repeat: no-repeat;
    background-size:cover;
  color: white;    
}
.overlay{
 
   background-color: #000000b9;
 
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
}
