<div class="all ">
  <div class="overlay">
    <section
    class="Regiter d-flex align-items-center justify-content-center"
    *ngIf="step1"
  >
   
    <div class="regiterForm">
      <h3>نسيت كلمة المرور</h3>
      <p>نسيت كلمة السر ؟ لا تقلق يمكنك انشاء كلمة سر جديدة خلال دقائق من خلال إدخال رقم هاتفك</p>
  
      <form (ngSubmit)="handelforgetpassword()" [formGroup]="forgetpasswordform">
          <div class="form-group mt-3">
              <label for="email" class="mb-3"> البريد الالكتروني</label>
              <input
                type="email"
                class="form-control inps"
                id="email"
                formControlName="email"
                placeholder=" ادخل البريد الالكتروني "
              />
              <div
                *ngIf="
                  forgetpasswordform.get('email')?.errors && forgetpasswordform.get('email')?.touched
                "
                class="text-danger mt-1"
              >
                <span
                  *ngIf="forgetpasswordform.get('email')?.errors?.['required']"
                  class="m-0"
                  >الايميل مطلوب</span
                >
                <span *ngIf="forgetpasswordform.get('email')?.errors?.['email']" class="m-0"
                  >الايميل غير صالح</span
                >
              </div>
            </div>
      
  
        <button
          class="btnRegster btns"
          [disabled]="!forgetpasswordform.valid || isloading"
          type="submit"
        >
          <span *ngIf="!isloading">تاكيد</span>
          <span
            *ngIf="isloading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span *ngIf="isloading">....تحميل</span>
        </button>
  
        <a routerLink='/register'  class="btnRegster btns form-control text-center"
            style="background-color: transparent; text-decoration: none; margin-bottom: 30px ">
          ليس لديك حساب ؟ أنشيء حساب جديد
        </a>
      </form>
    </div>
  </section>
  <!-- Step Two  code   -->
  
  <section class="Regiter d-flex align-items-center justify-content-center" *ngIf="step2">
   
      <section class="regiterForm">
          <h3>الكود</h3>
          <p>تم ارسال الكود الي الايميل</p>
  
          <form (ngSubmit)="hanelResetCode()" [formGroup]="ResetCodeform">
              <div class="form-group mt-3">
                  <label for="Code" class="mb-3">الكود</label>
                  <input type="tel" class="form-control inps inpTel" id="Code" formControlName="resetCode"
                       />
                  <div *ngIf="
                ResetCodeform.get('resetCode')?.errors &&
                ResetCodeform.get('resetCode')?.touched
              " class="text-danger mt-1">
                      <span *ngIf="ResetCodeform.get('resetCode')?.errors?.['required']">الكود مطلوب</span>
                  </div>
                  <span class="text-danger mt-1">{{ message }}</span>
              </div>
  
              <button class="btnRegster btns" [disabled]="!ResetCodeform.valid || isloading" type="submit">
                  <span *ngIf="!isloading">تاكيد</span>
                  <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                  <span *ngIf="isloading">....تحميل</span>
              </button>
          </form>
      </section>
  </section>
  
  <!-- Step Three  Reset pass  -->
  
  <section class="Regiter d-flex align-items-center justify-content-center" *ngIf="step3">
     
  
    <section class="regiterForm" *ngIf="step3">
        <h3>كلمه المرور الجديده</h3>
      
  
        <form (ngSubmit)="handelnewPassword()" [formGroup]="newPasswordform">
            <div class="form-group mt-3">
                <label for="email" class="mb-3">البريد الالكتروني</label>
                <input type="email" class="form-control inps" id="email" formControlName="email"
                />
                
                <div *ngIf="
                newPasswordform.get('email')?.errors &&
                newPasswordform.get('email')?.touched
              " class="text-danger mt-1">
                    <span *ngIf="newPasswordform.get('email')?.errors?.['required']">الايميل مطلوب</span>
                    <span *ngIf="newPasswordform.get('email')?.errors?.['email']">الايميل غير صالح</span>
                </div>
            </div>
  
            <div class="form-group mt-3">
                <label for="password" class="mb-3">كلمه المرور الجديده</label>
                <input type="password" class="form-control inps" id="password" formControlName="newPassword"
                    />
                <div *ngIf="
                newPasswordform.get('newPassword')?.errors &&
                newPasswordform.get('newPassword')?.touched
              " class="text-danger mt-1">
                    <span *ngIf="newPasswordform.get('newPassword')?.errors?.['required']"> كلمه المرور مطلوبه</span>
                    <span *ngIf="newPasswordform.get('newPassword')?.errors?.['pattern']">كلمه المرور علي الاقل6 حروف او ارقام</span>
                </div>
            </div>
  
            <button class="btnRegster btns" [disabled]="!newPasswordform.valid || isloading" type="submit">
                <span *ngIf="!isloading">تاكيد</span>
                <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
                <span *ngIf="isloading">....تحميل</span>
            </button>
        </form>
    </section>
  
  
  
  </section>
  
  </div>
 
</div>

